{{ $page := . }}
{{ $alt := $page.Title | default $page.Site.Params.brandName }}
{{ with $page.Params.feature_image_alt }}
  {{ $alt = . }}
{{ end }}

{{ $source := $page.Params.feature_image }}
{{ if not $source }}
  {{ $source = $page.Site.Params.defaultImageSource }}
{{ end }}

{{ if $source }}
  {{ if hasPrefix $source "/" }}
    {{ $page.Scratch.Set "feature_image_rel" $source }}
    {{ $staticPath := printf "static%s" $source }}
    {{ range slice ".png" ".jpg" ".jpeg" }}
      {{ $candidate := replaceRE "\\.[^.]+$" . $staticPath }}
      {{ if fileExists $candidate }}
        {{ $page.Scratch.Set "feature_image_rel" (replaceRE "\\.[^.]+$" . $source) }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ return dict
      "src" (($page.Scratch.Get "feature_image_rel") | absURL)
      "rel" (($page.Scratch.Get "feature_image_rel") | relURL)
      "alt" $alt
      "width" 1600
      "height" 900
    }}
  {{ else }}
    {{ $processed := false }}
    {{ with resources.Get $source }}
      {{ $processed = .Fit "1600x900 webp q82" }}
    {{ end }}
    {{ with $processed }}
      {{ return dict
      "src" .Permalink
      "rel" .RelPermalink
      "alt" $alt
      "width" .Width
      "height" .Height
    }}
    {{ end }}
  {{ end }}
{{ end }}
